<%- include("./elements/header.ejs") %>
</head>

<body>
    <%- include("./elements/topbar.ejs") %>
    <div class="container">
        <form class="row g-2">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Insert your query here..." aria-label="Query input" id="query-text" class="query-box">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" id="submit-query">Submit</button>
            </div>
        </form>     
    </div>
</body>