body {
    font-family: 'Questrial', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #000;
}

.page-topbar  {
    margin-left: 0rem;
    padding: 0rem 0.5rem 0rem 3rem;
    box-shadow: 1px 2px 14px -10px rgb(0 0 0 / 75%);
    padding: 1em 0 1em 0;
    margin-bottom: 5rem;
}

.page-topbar-title {
    font-size: 1.4rem;
    color: #214867;
    padding-left: 1.5rem;
}

.page-topbar-title svg {
    margin: 0 0.5rem 0.2rem 0;
}

.topbar-colour-1 {
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.683), #c2e9fb79 100%);
}

.container {
    width: 90%;
    padding: 1.5em 1em 1.5em 1em;
    margin: 1em auto;
    margin-bottom: 3rem;
    background: #f3f1f1;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 1px 2px 14px -10px rgb(0 0 0 / 75%);
    transition: all 0.2s ease-in-out;
}

#loading-space {
    display: flex;
    align-items: center;
    justify-content: center;
}

#display-docs {
    flex-direction: column;
}

.doc-container {
    margin-bottom: 1.5rem;
}

.checkbox-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-col input {
    width: 1.2rem;
    height: 1.2rem;
}

.title-line {
    border-bottom: 1px solid #2b597d;
    margin: 0 0 1.2rem 0;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    color: #2b597d;
}

.main-desc {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.txt-colour {
    color: #2b597d;
}

.main-select {
    margin: 0.5rem 0 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-select select {
    width: 40%;
}